$color-blue: #5bf2fd;
$color-gold: #fcc736;
$color-red: #fd5f5f;
$color-purple: #bb4dfa;

$twitter: #1da1f2;
$behance: #1769ff;
$facebook: #1877f2;
$vimeo: #1ab7ea;

$main-color: white;
$colorHeaderFooter: black;
$circle: 10rem;
