* {
	padding: 0;
	box-sizing: border-box;
	margin: 5px 0;
}

/* html {
	min-height: 100%;
	min-width: 100%;
} */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	background-color: black;
	color: white;
	font-size: 1.2rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.radio-toolbar {
	margin: 10px;
}

.radio-toolbar input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}

.radio-toolbar label {
	display: inline-block;
	text-align: center;
	padding-top: 15px;
	background-color: #ddd;
	width: 60px;
	height: 50px;
	font-family: sans-serif, Arial;
	font-size: 16px;
	border: 2px solid #444;
	border-radius: 4px;
	color: black;
}

.radio-toolbar label:hover {
	background-color: grey;
}

.radio-toolbar input[type="radio"]:focus+label {
	border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked+label {
	background-color: gold;
	border-color: white;
}

#rounds,
#game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	border: 1px solid;
	width: 50%;
	padding: 5px;
}

#outputRadio {
	color: red;
}

label {
	margin: 0 15px 0 5px;
}

#gamer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	border: 1px solid;
	width: 50%;
	height: 120px;
	padding: 5px;
	text-align: center;
}

#ausgabe div div p {
	display: inline-block;
}

#gameSymbols {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-content: center;
}

#gameSymbols p {
	padding: 5px;
	font-size: 3.5rem;
	cursor: pointer;
}

#restart {
	padding: 5px 15px;
	border: none;
	cursor: pointer;
}