@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/* =================================================================== */
* {
	padding: 0;
	margin: 0;
	box-sizing: broder-box;
}

html {
	min-height: 100%;
	min-width: 100%;
}

body {
	background: linear-gradient(to bottom,
			hsl(330, 100%, 45.1%) 0%,
			hsl(331, 89.25%, 47.36%) 8.1%,
			hsl(330.53, 79.69%, 48.96%) 15.5%,
			hsl(328.56, 70.89%, 49.96%) 22.5%,
			hsl(324.94, 63.52%, 50.4%) 29%,
			hsl(319.21, 54.99%, 50.3%) 35.3%,
			hsl(310.39, 46.14%, 49.68%) 41.2%,
			hsl(296.53, 39.12%, 49.7%) 47.1%,
			hsl(280.63, 42.91%, 53.43%) 52.9%,
			hsl(265.14, 47.59%, 56.84%) 58.8%,
			hsl(250.13, 52.52%, 59.88%) 64.7%,
			hsl(235.88, 59.2%, 60.91%) 71%,
			hsl(225.81, 68.23%, 57.85%) 77.5%,
			hsl(218.93, 74.97%, 54.21%) 84.5%,
			hsl(213.89, 79.63%, 49.97%) 91.9%,
			hsl(210, 100%, 45.1%) 100%);
	background-size: cover;
	background-repeat: no-repeat;
}

#designTitel {
	margin: 2vw 0 0 3.5vw;
	font-style: bold;
	font-family: 'Roboto';
}

#designTitel p:nth-of-type(1) {
	color: rgb(255 255 0 / 83%);
	font-size: 1.8rem;
}

#designTitel p:nth-of-type(2) {
	color: white;
	font-size: 1.3rem;
}

#designSection {
	width: 90%;
	height: 550px;
	background-color: rgb(255, 255, 255, 0.5);
	background-image: url(../img/telegraph.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 2% auto;
	border-radius: 10px;
	padding: 25px;
}

@media (min-width: 1441px) {
	#designTitel {
		margin: 2vw 0 0 4.5vw;
	}
}

/* =================================================================== */

/* Alphabet */
#outputAlphabet,
#morseAlphabetOutput {
	width: 101%;
	display: grid;
	grid-template-columns: repeat(37, 1fr);
	transition: all 750ms;
	background-color: white;
}

#outputAlphabet p,
#morseAlphabetOutput p {
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 250ms;
	height: 2rem;
}

textarea {
	width: 100%;
	min-height: 50px;
	border: none;
	margin: 10px 0;
	padding: 5px;
	font-size: 1.1rem;
}

#output {
	width: 100%;
	border: 1px solid;
	margin: 10px 0;
	padding: 5px;
	font-size: 1.6rem;
	background-color: white;
	min-height: 5%;
}